.password {

  &__container {
    margin-bottom: 32px;
  }

  &__eye {
    cursor: pointer;
    position: absolute;
    z-index: 3;

    top: 16px;
    right: 16px;

    width: 24px;
    height: 24px;
    background: url("./../../../../public/img/input/password-eye.svg") no-repeat center;
    background-size: contain;

    opacity: 0.4;

    transition: 200ms;

    &_show{
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__field {

    &_mask {
      z-index: 1;
      position: absolute;
      top: 0;
      opacity: 1;
    }
  }

  &__descriptor {
    display: block;
    cursor: pointer;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 24px */

    letter-spacing: 0.03em;

    color: #FFFFFF;

    &_err {
      text-align: center;

      .password__description.password__description {
        text-align: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */

        letter-spacing: 0.03em;
        text-decoration-line: underline;

        color: #FFFFFF;
      }
    }

    &-additional__info {
      display: flex;
      flex-direction: column;
      text-decoration-line: none;

      .password__descriptor-err {
        text-align: left;
        color: red;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -0.03em;
      }

      a {
        margin-top: 16px;
        text-decoration-line: underline;
      }
    }
  }
}